<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{url_for('static', filename='css/style.css')}}"
      rel="stylesheet"
    />
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet" />

    <title>Python Jobs Scrapper</title>
  </head>
  <body>
    <header>
      <h1>Nomad Job Scrapper</h1>
    </header>
    <main>
      <div>
        <h1>검색을 원하는 프로그래밍 언어가 적힌 버튼을 선택해 주세요.</h1>
        <h1>Click the button with the desired job name written on it.</h1>
      </div>
      <div id="scrap-inputArea">
        <form action="/scrap" method="get">
          <input
            type="text"
            placeholder="검색하고 싶은 Job을 입력 해 주세요."
            name="job"
            autocomplete="off"
          />
          <button>검 색</button>
        </form>
      </div>
    </main>
    <footer>
      <p>
        &copy;2020 Marco Kang<br />
        본 사이트의 표시내용은 반드시 보장되는 것은 아닙니다.
      </p>
    </footer>
    <!-- 노마드 잡 스크래퍼 처음 구동시 노란 화면 구현 -->
    <div id="splash-screen">
      <img src="{{url_for('static', filename='img/nomad.svg')}}" id="logo" />
      <span> Nomad<br />Job<br />Scrapper </span>
    </div>
    <script
      src="https://kit.fontawesome.com/6ade36b36a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
